echo ".venv/" > .gitignore
echo "*.tmp" >> .gitignore
echo "*.lnk" >> .gitignore
echo "*.ini" >> .gitignore
echo "*.ipynb_checkpoints/" >> .gitignore
echo "~$*" >> .gitignore
echo ".DS_Store" >> .gitignore

